/* ResetPasswordPage.css */

.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #2E3339;
    padding: 1rem;
  }

  .request-logo {
    width: 100px;
    margin: 0 auto 20px;
    display: block;
  }
  
  .reset-password-container p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    color: #2E3339;
  }
  
  .reset-password-container .subtext {
    font-size: 0.9rem !important; /* Force size reduction */
    color: #2E3339;
    margin-bottom: 1rem;
    font-weight: normal;
  }
  
  .reset-password-container input {
    width: 100%;
    max-width: 300px;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #0FA474;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    background-color: #ffffff;
    color: #2E3339;
  }
  
  .reset-password-container input:focus {
    border-color: #0d8e66;
  }
  
  .reset-password-container .continue-button {
    width: 100%;
    max-width: 300px;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #0FA474;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-container .continue-button:hover {
    background-color: #0d8e66;
  }
  
  .error {
    width: 100%;
    max-width: 300px;
    padding: 0.8rem;
    background-color: rgba(255, 0, 0, 0.1);
    color: #ff0000;
    text-align: center;
    font-size: 0.75rem;
    font-weight: normal;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ff0000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .message-icon {
    width: 16px;
    height: 16px;
  }
  
  .reset-password-container .back-to-login-text {
    font-size: 0.9rem !important; /* Force size reduction */
    color: #2E3339;
    margin-bottom: 0.5rem;
    font-weight: normal;
  }
  
  .reset-password-container .back-to-login-text span {
    color: #0FA474;
    cursor: pointer;
    text-decoration: none;
  }
  
  